
<h1 id="pets_list">All Pets in the DB</h1>
<br><br>


{{#if pets}}
{{#each pets as |pet|}}
   <tr class="item">
        <td valign="top" class="textContent">
            <!-- <img src=""{{img}}" width="50" height="75" class="itemImage"" /> -->
            <i class="fa fa-paw"></i>
            <h4 class="itemName">{{pet.name}}</h4>
            <span class="contentSecondary"><b>Shot History:</b> {{pet.shots}}</span><br />
            <span class="contentSecondary"><b>Notes:</b> {{pet.notes}}</span><br />
            <span class="contentSecondary"><data-id="{{pet.id}}">ID: {{pet.id}}</span><br />
        </td>
    <br>

    </tr>
    <tr><td> </td></tr>
    {{/each}}
    {{else}}
    <div><h3>Please add a pet.</h3></div>
    {{/if}}
